{% extends "base.html" %}

{% block title %} Lunch Picker {% endblock %}

{% block body %}

    <section>
        <div class="d-inline-flex p-2"style="background: rgba(254, 166, 63, 0.38); margin-top: 80px">
            <h1>&emsp; Your Results &emsp; &emsp; &emsp;</h1>
        </div>
    </section>

    <br><br><br>
    
    {% if results|length == 1 %} 
    <section>
        <div class="container overflow-hidden">
            <div class="row gx-5">
              <div class="col">
                  <div class="p-3 border bg-light" style="width:100%; height:100%;">
                    <h5 id = "one"> {{results[0][0]}} 
                        <button onclick="add_to_fav(1)" class="btn btn-warning float-right">Save</button>
                    </h5>
                    <p> Rating: {{results[0][1]}} </p>
                    <p> Price: {{results[0][2]}} </p>
                    <img src={{results[0][3]}} style="width: 100%"/>
                    </div>
              </div>
              <div class="col">
                <div class="p-3 border bg-light border-warning"  style="width:100%; height:100%;">

                  <h5 id = "four"> <span style="color: #FEA63F;">Foodi Rec</span> {{rec[0][0]}} 
                      <button onclick="add_to_fav(4)" class="btn btn-warning float-right">Save</button>
                  </h5>
                  <p> Rating: {{rec[0][1]}} </p>
                  <p> Price: {{rec[0][2]}} </p>
                  <img src={{rec[0][3]}} style="width: 100%"/>
                  
                </div>
              </div>
            </div>
        </div>
    </section>
    
    {% elif results|length == 2 %}
    <section>
        <div class="container overflow-hidden">
            <div class="row gx-5">
              <div class="col">
                  <div class="p-3 border bg-light" style="width:100%; height:100%;">
                    <h5 id = "one"> {{results[0][0]}} 
                        <button onclick="add_to_fav(1)" class="btn btn-warning float-right">Save</button>
                    </h5>
                    <p> Rating: {{results[0][1]}} </p>
                    <p> Price: {{results[0][2]}} </p>
                    <img src={{results[0][3]}} style="width: 100%"/>
                    </div>
              </div>
              <div class="col">
                <div class="p-3 border bg-light"  style="width:100%; height:100%;"> 
                    
                    <h5 id = "two"> {{results[1][0]}}
                        <button onclick="add_to_fav(2)" class="btn btn-warning float-right">Save</button>
                    </h5>
                    <p> Rating: {{results[1][1]}} </p>
                    <p> Price: {{results[1][2]}} </p>
                    <img src={{results[1][3]}} style="width: 100%"/>                
                </div>
              </div>
            </div>
        </div>
        <br>
          <div class="container overflow-hidden">
            <div class="row gx-5">
                <div class="col">
                    <div class="p-3 border bg-light border-warning"  style="width:100%; height:100%;">
                      <h5 id = "four"> <span style="color: #FEA63F;">Foodi Rec</span> {{rec[0][0]}} 
                          <button onclick="add_to_fav(4)" class="btn btn-warning float-right">Save</button>
                      </h5>
                      <p> Rating: {{rec[0][1]}} </p>
                      <p> Price: {{rec[0][2]}} </p>
                      <img src={{rec[0][3]}} style="width: 100%"/>
                      
                    </div>
                </div>
            </div>
          </div>
    </section>
    
    {% else %}
    
    <section>
        <div class="container overflow-hidden">
            <div class="row gx-5">
              <div class="col">
                  <div class="p-3 border bg-light" style="width:100%; height:100%;">
                    <h5 id = "one"> {{results[0][0]}} 
                        <button onclick="add_to_fav(1)" class="btn btn-warning float-right">Save</button>
                    </h5>
                    <p> Rating: {{results[0][1]}} </p>
                    <p> Price: {{results[0][2]}} </p>
                    <img src={{results[0][3]}} style="width: 100%"/>
                    </div>
              </div>
              <div class="col">
                <div class="p-3 border bg-light"  style="width:100%; height:100%;"> 
                    
                    <h5 id = "two"> {{results[1][0]}}
                        <button onclick="add_to_fav(2)" class="btn btn-warning float-right">Save</button>
                    </h5>
                    <p> Rating: {{results[1][1]}} </p>
                    <p> Price: {{results[1][2]}} </p>
                    <img src={{results[1][3]}} style="width: 100%"/>                
                </div>
              </div>
            </div>
          </div>
          <br>
          <div class="container overflow-hidden">
            <div class="row gx-5">
              <div class="col">
               <div class="p-3 border bg-light"  style="width:100%; height:100%;">

                    <h5 id = "three"> {{results[2][0]}} 
                        <button onclick="add_to_fav(3)" class="btn btn-warning float-right">Save</button>
                    </h5>
                    <p style=""> Rating: {{results[2][1]}} </p>
                    <p> Price: {{results[2][2]}} </p>
                    <img src={{results[2][3]}} style="width: 100%"/>
               </div>
              </div>
              <div class="col">
                <div class="p-3 border bg-light border-warning"  style="width:100%; height:100%;">

                  <h5 id = "four"> <span style="color: #FEA63F;">Foodi Rec</span> {{rec[0][0]}} 
                      <button onclick="add_to_fav(4)" class="btn btn-warning float-right">Save</button>
                  </h5>
                  <p> Rating: {{rec[0][1]}} </p>
                  <p> Price: {{rec[0][2]}} </p>
                  <img src={{rec[0][3]}} style="width: 100%"/>
                  
                </div>
              </div>
            </div>
          </div>
    </section>
    {% endif %}
    <br><br><br><br>

    <script src="https://www.gstatic.com/firebasejs/8.6.7/firebase-app.js"></script>

    <script src="https://www.gstatic.com/firebasejs/8.6.7/firebase-analytics.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.6.7/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.10.0/firebase-firestore.js"></script>
    <script src="{{url_for('static', filename='firebase.js')}}"></script>
    <script src="{{url_for('static', filename='find.js')}}"></script>
{% endblock %}
