{% extends "base.html" %}

{% block title %} Lunch Picker {% endblock %}

{% block body %}

    <section style="background: rgba(254, 166, 63, 0.38); background-size: 50%;">
        <h1>Your Results</h1>
    </section>
    
    {% for item in results %}
        
        {% for place in item %}

            {% if place == item[3] %}
                <img src={{place}} />
            {% else %}
            
                {% if item == results[0] %}

                    <p id = "one"> {{place}} </p>

                {% elif item == results[1] %}

                    <p id = "two"> {{place}} </p>

                {% else %}

                    <p id = "three"> {{place}} </p>

                {% endif %}    

            {% endif %}

        {% endfor %}
            {% if item == results[0] %}
                <button onclick="add_to_fav(1)" class="btn btn-warning">Save</button>
            {% elif item == results[1] %}
                <button onclick="add_to_fav(2)" class="btn btn-warning" id="">Save</button>
            {% else %}
                <button onclick="add_to_fav(3)" class="btn btn-warning" id="">Save</button>
            {% endif %} 
    {% endfor %}
    <script src="https://www.gstatic.com/firebasejs/8.6.7/firebase-app.js"></script>

    <script src="https://www.gstatic.com/firebasejs/8.6.7/firebase-analytics.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.6.7/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.10.0/firebase-firestore.js"></script>
    <script src="{{url_for('static', filename='firebase.js')}}"></script>
    <script src="{{url_for('static', filename='find.js')}}"></script>
{% endblock %}
