<!DOCTYPE html>

<html lang="en">
    <head>
        <meta name="viewport" content="intitial-scale=1, width=device-width">
        <title>{% block title %} {% endblock %}</title>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.0/semantic.min.css" />
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="/">Foodi</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
              <div class="navbar-nav">
                <a class="nav-item nav-link" href="/login.html">Account info</a>
              </div>
            </div>
          </nav>
          

          <section class="p-5" style="background: rgba(254, 166, 63, 0.38);">
            <div class="container">
              
                <div>
                    <h1>What's for <span class="text-warning" style="color: #FEA63F;"> lunch?</span></h1>
                </div>

                <div style="margin-top: 50px;">
                    <form action="/find" method = "post">
                        <select name = "suggested" >
                            <option disable selected>Suggested Searches</option>
                            {% for food in suggested %}
                            <option> {{ food }}</option>
                            {% endfor %}
                        </select>

                        <span class="dropdown">
                            <button name="suggested" class="btn dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                              Suggested Searches
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                <li><a class="dropdown-item" href="#">Action</a></li>
                                <li><a class="dropdown-item" href="#">Another action</a></li>
                                <li><a class="dropdown-item" href="#">Something else here</a></li>
                            </ul>
                        </span>

                        <div class="btn-group">
                            <button type="button" class="btn btn-danger dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                              Action
                            </button>
                            <ul class="dropdown-menu">
                              <li><a class="dropdown-item" href="#">Action</a></li>
                              <li><a class="dropdown-item" href="#">Another action</a></li>
                              <li><a class="dropdown-item" href="#">Something else here</a></li>
                              <li><hr class="dropdown-divider"></li>
                              <li><a class="dropdown-item" href="#">Separated link</a></li>
                            </ul>
                        </div>
    
                        <div class="ui icon big input" id="locator-input-section;">
                            <input type="text" placeholder="Enter Your Address" id="autocomplete" name = "Location"/>
                            <i aria-hidden="true" class="dot circle outline link icon" id="locator-button"></i>
                        </div> 
        
                        <select name = "price">
                            <option disable selected>Price Range</option>
                            <option>$</option>
                            <option>$$</option>
                            <option>$$$</option>
                        </select>
                        <input autocomplete="off" placeholder="radius" type = "text" name = "radius">
                        <input type = "submit" value="search">
                    </form>
                </div>
              
            </div>
          </section>

    </body>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAP9UtO_JjrLk-VBPx44zCRWs1xWFQI334&libraries=places">
    </script>
    <script src="{{url_for('static', filename='app.js')}}"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</html>


